#header{
    color:whitesmoke;;
}
body{
    background-color:black;
}
.display{
    border: 1px solid black;
    height: 15em;
    width: 15em;
    margin: 15px;
    border-radius: 50%; 
    /* color: rgb(red, green, blue)  1-255*/
}
h1{
    text-align: center;
}
#winner{
    color:whitesmoke;
}